body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
}

a:hover{
    color: yellow;
}
header{
    background-color: white;
    padding: 10px;
    margin: 10px;
}

nav{
    background-color: rgb(59, 59, 59);
    padding: 3px;
    box-shadow: 5px 3px 7px 1px rgba(0, 0, 0, 0.493);
}

nav > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
}

main{
    background-color:white;
    padding: 10px;
    margin: 10px;
    border-radius: 15px 0px;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.472);
}
article{
    background-color: lightgrey;
    padding: 1px;
    font-size: 1.2em;
}

article > aside{
    background-color: rgb(133, 132, 132);
    font-style: italic;
    font-weight: bold;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 6px;
    font-size: 1.3em;
    border-radius: 15px;
    width: 400px;
    margin: auto;
}

footer > p{
    margin: 0px;
}
